In [1]:
import pandas as pd

Handling train data

In [77]:
trainDf = pd.read_csv('train.csv')
trainDf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [78]:
newTrainDf = trainDf.drop(columns=['Name', 'Ticket', 'Cabin', 'Embarked'])
newTrainDf.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [79]:
newTrainDf['Sex'] = newTrainDf['Sex'].replace(['female'], 1)
newTrainDf.head()

   PassengerId  Survived  Pclass   Sex   Age  SibSp  Parch     Fare
0            1         0       3  male  22.0      1      0   7.2500
1            2         1       1     1  38.0      1      0  71.2833
2            3         1       3     1  26.0      0      0   7.9250
3            4         1       1     1  35.0      1      0  53.1000
4            5         0       3  male  35.0      0      0   8.0500

In [80]:
newTrainDf['Sex'] = newTrainDf['Sex'].replace(['male'], 2)
newTrainDf.head()

C:\Users\jjaf5\AppData\Local\Temp\ipykernel_27812\3417085138.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  newTrainDf['Sex'] = newTrainDf['Sex'].replace(['male'], 2)

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    2  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    2  35.0      0      0   8.0500

In [81]:
newTrainDf.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [82]:
from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(newTrainDf[['Age']])
newTrainDf['Age'] = imputer.fit_transform(newTrainDf[['Age']])

In [83]:
newTrainDf.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

Handling Test Data

In [84]:
testDf = pd.read_csv('test.csv')
testDf.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [85]:
newTestDf = testDf.drop(columns=['Name', 'Ticket', 'Cabin', 'Embarked'])
newTestDf.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [86]:
newTestDf['Sex'] = newTestDf['Sex'].replace(['female'], 1)
newTestDf.head()

   PassengerId  Pclass   Sex   Age  SibSp  Parch     Fare
0          892       3  male  34.5      0      0   7.8292
1          893       3     1  47.0      1      0   7.0000
2          894       2  male  62.0      0      0   9.6875
3          895       3  male  27.0      0      0   8.6625
4          896       3     1  22.0      1      1  12.2875

In [87]:
newTestDf['Sex'] = newTestDf['Sex'].replace(['male'], 2)
newTestDf.head()

C:\Users\jjaf5\AppData\Local\Temp\ipykernel_27812\4279685549.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  newTestDf['Sex'] = newTestDf['Sex'].replace(['male'], 2)

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0          892       3    2  34.5      0      0   7.8292
1          893       3    1  47.0      1      0   7.0000
2          894       2    2  62.0      0      0   9.6875
3          895       3    2  27.0      0      0   8.6625
4          896       3    1  22.0      1      1  12.2875

In [88]:
newTestDf.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64

In [89]:
imputer.fit(newTestDf[['Age']])
newTestDf['Age'] = imputer.fit_transform(newTestDf[['Age']])

In [91]:
imputer.fit(newTestDf[['Fare']])
newTestDf['Fare'] = imputer.fit_transform(newTestDf[['Fare']])

In [92]:
newTestDf.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

Building the model

In [40]:
from sklearn.linear_model import LogisticRegression

In [93]:
model = LogisticRegression(multi_class='multinomial')

In [94]:
X = newTrainDf.drop(columns=['Survived'])
y = newTrainDf['Survived']

In [95]:
X.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    2  22.0      1      0   7.2500
1            2       1    1  38.0      1      0  71.2833
2            3       3    1  26.0      0      0   7.9250
3            4       1    1  35.0      1      0  53.1000
4            5       3    2  35.0      0      0   8.0500

In [96]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [97]:
model.fit(X, y)

c:\Users\jjaf5\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:1237: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, binary problems will be fit as proper binary  logistic regression models (as if multi_class='ovr' were set). Leave it to its default value to avoid this warning.
  warnings.warn(
c:\Users\jjaf5\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(multi_class='multinomial')

In [98]:
Prediction = model.predict(newTestDf)
Prediction

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [99]:
PredictionDf = pd.DataFrame(Prediction)
PredictionDf.head()

   0
0  0
1  0
2  0
3  0
4  1

In [100]:
PredictionDf['Survived'] = PredictionDf[0]
PredictionDf = PredictionDf.drop(columns=[0])
PredictionDf.head()

   Survived
0         0
1         0
2         0
3         0
4         1

In [101]:
PassID = newTestDf['PassengerId']
PassID.head()

0    892
1    893
2    894
3    895
4    896
Name: PassengerId, dtype: int64

In [102]:
dfs = [PassID, PredictionDf]
result = pd.concat(dfs, axis=1)
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [103]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [104]:
result.to_csv('result.csv', index=False)